DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,kutbilim.gps.gov.kg,www.kutbilim.gps.gov.kg,elkitep.gps.gov.kg,10.3.14.11

POSTGRES_DB=munara_db
POSTGRES_USER=munara_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Включаем PostgreSQL
USE_POSTGRES=1
